
@model WebApplication1.Models.Student
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

<form method="post" action="/home/Insert">
    <input type="text" name="Name" placeholder="Enter Name" />

    <input type="text" name="Age" placeholder="Enter Age" />

    <input type="submit" value="Submit" />
</form>
   

